<body style="background: black">
<!--<p style="color: white">Find me in app/views/welcome/index.html.erb</p>-->
<div>
  <div>
    <% per = 43 %>
    <div style="width: <%= 100 - per %>%; height: 100%; float: left;font-size: 100px;font-family: 'Aspergit-Light'; opacity: 0.601252;">
      <b style="font-size: 100px;color: rgb(255,255,255);"><%= "#{@weather_now[:tmp]}℃" %></b>
      <b style="font-size: 40px;color: rgb(255,255,255);"><%= "#{@weather_now[:cond][:txt]}" %></b>

    </div>
    <div id="clock2" style="font-size: 50px; font-family: 'xx'; color: rgb(0, 0, 0); width: <%= per %>%; float: right; text-align: left">
      <span id="ch1" style="opacity: 0.101252;"></span>
      <span id="ch2" style="opacity: 0.101252;"></span>
    </div>
  </div>
  <!--<p>空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</p>-->
  <div style="font-family: 'CooperHewitt-ThinItalic';">
    <div style="float: left; width: 40%">
      <% op = 1 %>
      <table>
        <tr>
          <th colspan="3" style="text-align: center"><b style="color: sandybrown; font-size: 20px;">今日天气</b></th>
        </tr>
        <!--<tr><th colspan="3" style="text-align: center"><b style="color: rgb(255,255,255); font-size: 20px">&nbsp</b></th></tr>-->
        <tr>
          <td width="80px"><b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">时间</b></td>
          <td width="70px"><b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">温度</b></td>
          <td><b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">降雨概率</b></td>
        </tr>
        <% @weather_hourly.each do |wh| %>
            <tr>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wh[:date][11, 5]}" %>
                </b>
              </td>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wh[:tmp]}℃" %>
                </b>
              </td>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wh[:pop]}%" %>
                </b>
              </td>
            </tr>
            <% op -= 0.12 %>
        <% end %>
      </table>
    </div>
    <% op = 1 %>
    <div style="float: right; width: 60%">
      <table>
        <tr>
          <th colspan="4" style="text-align: center"><b style="color: sandybrown; font-size: 20px">七日天气</b></th>
        </tr>
        <!--<tr><th colspan="4" style="text-align: center"><b style="color: rgb(255,255,255); font-size: 20px">&nbsp</b></th></tr>-->
        <tr>
          <td style="color: rgb(255,255,255); font-size: 20px; width: 80px">日期</td>
          <td style="color: rgb(255,255,255); font-size: 20px; width: 120px">温度</td>
          <td style="color: rgb(255,255,255); font-size: 20px; width: 150px">白天->晚间</td>
          <td style="color: rgb(255,255,255); font-size: 20px">降雨概率</td>
        </tr>

        <% @weather_daily.each do |wd| %>
            <tr>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wd[:date][5, 5]}" %>
                </b>
              </td>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wd[:tmp][:min]}℃~#{wd[:tmp][:max]}℃" %>
                </b>
              </td>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wd[:cond][:txt_d]}->#{wd[:cond][:txt_n]}" %>
                </b>
              </td>
              <td>
                <b style="opacity: <%= op %>;color: rgb(255,255,255); font-size: 20px">
                  <%= "#{wd[:pop]}%" %>
                </b>
              </td>
            </tr>
            <% op -= 0.14 %>
        <% end %>
      </table>
    </div>
  </div>

</div>

<% op = 1%>
<div style=" width: 100%; padding-top: 500px" align="center">
  <table width="70%" rules="rows" style="line-height: 3">
    <% @his_json.each do |k, v| %>
        <tr style="border-color: <%= "rgba(119, 85, 38,  #{op-0.1} )" %>; opacity: <%= op %>">
          <td width="30%"><b style="color: rgb(255,255,255);"><%= k %></b></td>
          <td><b style="color: rgb(255,255,255);"><%= v %></b></td>
        </tr>
        <% op -= 0.078 %>
    <% end %>
  </table>
</div>
<div style="width: 100%; height: 500px"></div>

</body>


<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            $("#clock2").MyDigitClock({
                fontSize: 100,
                fontFamily: "Aspergit-Light",
                fontColor: "#fff",
//                fontWeight:"bold",
                bAmPm: true,
                bShowHeartBeat: true
            });
        });
    });
</script>

<script language="JavaScript">
    function myrefresh() {
        window.location.reload();
    }
    setTimeout('myrefresh()', 6000000); //指定10分钟刷新一次
</script>